* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.loginDiv {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.loginForm {
  text-align: center;
}

.loginForm h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.loginForm input {
  width: 80%;
  margin-bottom: 1.5rem;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color:white;
  text-align: center;
  font-size: 1rem;
}

.loginForm button {
  width: 80%;
  height: 40px;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ff735c;
  font-size: 1rem;
}

.option1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.option2 span {
  margin-left: 3px;
  color: teal;
}

@media (max-width: 700px) {
  .loginDiv {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
   
  }

  .loginForm {
    text-align: center;
  }

  .loginForm h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .loginForm input {
    width: 100%;
    margin-bottom: 1.5rem;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 1rem;
  }

  .loginForm button {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ff69b4;
    font-size: 1rem;
    border-radius: 5px;
  }

  .option1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .option2 span {
    margin-left: 3px;
    color: teal;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 50px;
}
.cart {
  margin-right: 25px;
}

nav {
  padding: 12px 12px;
}
.signup{
  margin-right: 30px;
}
form{
  background-color: #d8d8d8;
  border-radius: 15px;
  padding:5px;
  margin: auto;
  
}