<div class="container">
    <h1>My Orders</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Payment</th>
                <th>Customer ID</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.orderId }}</td>
                <td>{{ order.orderPayment }}</td>
                <td>{{ order.customerId }}</td>
                <td>{{ order.totalAmount | currency:"INR" }}</td>
            </tr>
        </tbody>
    </table>
</div>